button{
    font-family:cursive;
    text-align: center;
    height: 30px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border: none;
}
input{
    font-family:cursive;
    background-color: antiquewhite;
    height: 30px;
    border: solid;
    border-color: #f44336;
}


